<img src = "그림1.png">
<div class="find">

    <%= form_tag(controller: "post", action: "search") do %>
        <%= text_field_tag :search ,"", class: 'search_bar', autocomplete: 'off' %>
        <img src = "search_icon.png">
    <% end %>
    
    <%= link_to "생성", post_new_path,  :class => "forming" %>
   
</div>

<style>
    body {
      background-color: black;
    }
    .search_bar {
      background-color: black;
      border: 0px;
      border-bottom: 1px solid white;
      color: white;
    }

    .search_bar:focus {
      outline: 0;
    }

    .find{
        width: 33.3%;
        margin : 33.3% 33.3% 33.3% 33.3%;
        text-align: center;
    }

    .forming{
      background-color: #ffef96; /* Green */
      border: none;
      color: black;
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 8px;
    }
 
</style>
