
<div class="find">

    <%= form_tag(controller: "post", action: "search") do %>
        <%= text_field_tag :search ,"", class: 'search_bar', autocomplete: 'off' %>
    <% end %>
    
    <%= link_to "생성", post_new_path %>
   
</div>

<style>
    body {
      background-color: black;
    }
    .search_bar {
      background-color: black;
      border: 0px;
      border-bottom: 1px solid white;
      color: white;
    }

    .search_bar:focus {
      outline: 0;
    }
    .find{
      
        width: 33.3%;
        
        margin : 33.3% 33.3% 33.3% 33.3%;
       
        text-align: center;
        
    }
 
</style>
