<div class="bgimg">
  <div class = "logo">
    <img src = "likelion_logo_main.png" style = "height:10%; width:10%;">
  </div>

  <div class="find">
    <!-- main picture -->
    <div class = "main_picture">
      <img src = "그림1.png" style = "height:100%; width:70%;">
    </div>

    <!-- Search Bar -->
    <%= form_tag(controller: "post", action: "search") do %>
      <%= text_field_tag :search ,"", class: 'search_bar', autocomplete: 'off', placeholder: "Search...Your Lion..." %>
      <%#= image_submit_tag("search_icon.png") %>
    <% end %>

    <!-- Create Button -->
    <div class = "create_button">
      <%= link_to "생성", post_new_path,  :class => "forming" %>
    </div>

  </div>

  <div class = "makers">
    ⓒSKKU_LikeLion_6th
  </div>
</div>

<style>
  body {
    background-color: black;
  }

  .bgimg {
    background-image : url("lionwiki_main.png");
    min-height: 100%;
    background-position: center;
    background-size: cover;
  }

  .logo {
    height: 15%;
    color: white;
  }

  .find{
    width: 70%;
    height: 70%;
    margin : 15% 15% 15% 15%;
    text-align: center;
  }

  .main_picture {
    width: 100%;
    height: 33.3%
  }

  .search {
    width: 100%;
    height: 33.3%;
  }

  .search_bar {
    background-color: black;
    border: 0px;
    border-bottom: 1px solid #f4a742;
    color: white;
  }

  .search_bar:focus {
    outline: 0;
  }

  .search_button {
    width: 20px;
    height: 20px;
  }

  .create_button{
    width: 100%;
    height: 33.3%;
  }

  .forming{
    background-color: #ffef96; /* Green */
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
  }

  .makers {
    color: white;
    height: 15%;
    font-family: Verdana, sans-serif;
  }
</style>