<form action = '/post/detail'>
  <p>작성하고자 하는 내용을 입력하세요.</p>
  <input type="string", name="post_title" placeholder="글 제목"></input>
  <input type="string", name="post_img" placeholder="이미지"></input>
  <input type="submit"></input>
</form>
