<div class="post_new">
  <div class="post-new-container">
    <%= form_for @post, url:post_new_path do |f| %>
      <div class="post-title">
        제목: <%= f.text_field :title %>
      </div>

      <div class="content-img">
        이미지: <%= f.file_field :img %>
      </div>

      <div style="margin-top: 30px;">
        <%= f.submit "전송"%>
      </div>
    <% end %>
  </div>
</div>